@model DnsWebApp.Models.Database.Registrar

<div class="row">
    <div class="col-lg-6">
        <fieldset>
            <legend>Registrar</legend>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <small class="form-text text-muted">Enter the name of the Registrar</small>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" asp-for="AllowRenewals"/>
                    <label class="custom-control-label" asp-for="AllowRenewals"></label>
                    <small class="form-text text-muted">For reporting use only</small>
                </div>
            </div>
            
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" asp-for="AllowTransfers"/>
                    <label class="custom-control-label" asp-for="AllowTransfers"></label>
                    <small class="form-text text-muted">For reporting use only</small>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="col-lg-6">
        <fieldset>
            <legend>Financial</legend>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" asp-for="PricesIncludeVat"/>
                    <label class="custom-control-label" asp-for="PricesIncludeVat"></label>
                    <small class="form-text text-muted">Whether to add VAT or not onto prices</small>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="CurrencyId"></label>
                <select asp-for="CurrencyId" asp-items="ViewBag.Currencies" class="form-control">
                    <option value="">(none)</option>
                </select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                <small class="form-text text-muted">The currency in which prices are shown</small>
            </div>
            
            <div class="form-group">
                <label asp-for="PrivacyFee"></label>
                <input asp-for="PrivacyFee" class="form-control"/>
                <span asp-validation-for="PrivacyFee" class="text-danger"></span>
                <small class="form-text text-muted">Cost of additional privacy services</small>
            </div>
            
            <div class="form-group">
                <label asp-for="TransferOutFee"></label>
                <input asp-for="TransferOutFee" class="form-control"/>
                <span asp-validation-for="TransferOutFee" class="text-danger"></span>
                <small class="form-text text-muted">Cost of transferring a domain out of this registrar</small>
            </div>
        </fieldset>
    </div>
</div>
    
<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save settings</button>
    </div>
</div>