@using System.Text.Json
@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
    ViewBag.Active = "Home";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<h2>DNS Zones</h2>
<div class="row">
    <div class="col-lg-6">
        <h3>TLD stats</h3>
        <canvas id="tldChart"></canvas>
    </div>
    <div class="col-lg-6">
        <h3>Record type stats</h3>
        <canvas id="typeChart"></canvas>
    </div>
</div>



<script>
var colours = ['rgba(0, 184, 148,1.0)',
               'rgba(0, 206, 201,1.0)',
               'rgba(9, 132, 227,1.0)',
               'rgba(108, 92, 231,1.0)',
               'rgba(178, 190, 195,1.0)',
               'rgba(253, 203, 110,1.0)',
               'rgba(225, 112, 85,1.0)',
               'rgba(214, 48, 49,1.0)',
               'rgba(232, 67, 147,1.0)',
               'rgba(45, 52, 54,1.0)',
               'rgba(85, 239, 196,1.0)',
               'rgba(129, 236, 236,1.0)',
               'rgba(116, 185, 255,1.0)',
               'rgba(162, 155, 254,1.0)',
               'rgba(223, 230, 233,1.0)',
               'rgba(255, 234, 167,1.0)',
               'rgba(250, 177, 160,1.0)',
               'rgba(255, 118, 117,1.0)',
               'rgba(253, 121, 168,1.0)',
               'rgba(99, 110, 114,1.0)'];
var chartOptions = {
    circumference: Math.PI,
    rotation: -Math.PI        
};

var tldChart = new Chart(document.getElementById('tldChart').getContext('2d'), {
    type: 'doughnut',
    data: {
        datasets: [{
            data: @Html.Raw(JsonSerializer.Serialize(ViewBag.TldStats.Item2)),
            backgroundColor: colours
        }],
        labels: @Html.Raw(JsonSerializer.Serialize(ViewBag.TldStats.Item1))
    },
    options: chartOptions
});

var typeChart = new Chart(document.getElementById('typeChart').getContext('2d'), {
    type: 'doughnut',
    data: {
        datasets: [{
            data: @Html.Raw(JsonSerializer.Serialize(ViewBag.RecordStats.Item2)),
            backgroundColor: colours
        }],
        labels: @Html.Raw(JsonSerializer.Serialize(ViewBag.RecordStats.Item1))
    },
    options: chartOptions
});


</script>