@{
    Layout = "_BaseLayout";
}

@section HeadContent {
    <link href="~/css/dashboard.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-sortable/bootstrap-sortable.css" rel="stylesheet" />
}

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-expand">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cluster Manager</a>
        <ul class="navbar-nav col-sm-9 col-md-10">
            <li class="w-100 d-none d-sm-inline">@*<input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">*@</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fas fa-user"></i>&nbsp;@User.Identity.Name</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Authentication" asp-action="ChangePassword">Change password</a>
                    <div class="dropdown-divider"></div>
                    <form asp-action="Logout" asp-controller="Authentication" class="form-inline">
                        <button type="submit" class="btn btn-xs dropdown-item text-nowrap">Log out</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <vc:sidebar-menu />
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-Iep5TjrwnXOp2AdreAjhlprhxI5Ix8Y3I/zJd1tNQZQmonaE3i6fTdrvIG9YjOWl" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap-sortable/moment.min.js" crossorigin="anonymous"></script>
    <script src="~/vendor/bootstrap-sortable/bootstrap-sortable.js" crossorigin="anonymous"></script>
</body>
