@model DnsWebApp.Models.Dns.HostRecordViewModel

<partial name="NameTtlEditControl" />

<div class="row">
    <div class="col-lg-3 col-xl-2">
        <div class="form-group">
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="Model.AvailableTypes" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-9 col-xl-10">
        <div class="form-group">
            <label asp-for="Value"></label>
            <input asp-for="Value" class="form-control"/>
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
