@using DnsWebApp.Models
@model DnsWebApp.Models.Dns.SshfpRecordViewModel

<partial name="NameTtlEditControl" />

<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="Algorithm"></label>
            <select asp-for="Algorithm" asp-items="Html.GetEnumSelectList<SshfpAlgorithm>()" class="form-control"></select>
            <span asp-validation-for="Algorithm" class="text-danger"></span>
            <small class="form-text text-muted">The type of key</small>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="FingerprintType"></label>
            <select asp-for="FingerprintType" asp-items="Html.GetEnumSelectList<SshfpFingerprintType>()" class="form-control"></select>
            <span asp-validation-for="FingerprintType" class="text-danger"></span>
            <small class="form-text text-muted">The algorithm used to hash the public key</small>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group">
            <label asp-for="Fingerprint"></label>
            <input asp-for="Fingerprint" class="form-control"/>
            <span asp-validation-for="Fingerprint" class="text-danger"></span>
            <small class="form-text text-muted">The fingerprint of the public key</small>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
