@model DnsWebApp.Models.Database.HorizonView

@{
    ViewBag.Title = "Editing Split-Horizon View";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing Split-Horizon View @Model.ViewName</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("Delete", "Horizon", new {item = Model.Id})" class="btn btn-sm btn-outline-danger ml-2">
            <i class="fas fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<form asp-controller="Horizon" asp-action="Edit">
    <partial name="HorizonForm"/>
</form>