@model DnsWebApp.Models.Database.HorizonView

@{
    ViewBag.Title = "New Split-Horizon View";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Split-Horizon View</h1>
</div>

<form asp-controller="Horizon" asp-action="New">
    <partial name="HorizonForm"/>
</form>