@model DnsWebApp.Models.Database.ZoneGroup
@{
    ViewBag.Title = "Zone Group";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Zone Group @(Model.Name)</h1>
</div>