@model DnsWebApp.Models.Database.TopLevelDomain

@{
    ViewBag.Title = "Delete top-level domain";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Deleting @Model.Domain top-level domain</h1>
</div>

@if (Model.Domains.Any())
{
    <div class="alert alert-danger" role="alert">
        This TLD has zones underneath it. As such, you cannot delete this TLD until you have removed all child domains.
    </div>
}
else
{
    <p class="lead text-danger">You are about to delete the <code>@Model.Domain</code> top-level domain</p>

    <p>Are you sure you want to do this?</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <button class="btn btn-danger" type="submit">Yes, delete this top-level domain</button>
    </form>
}