@model DnsWebApp.Models.Database.TopLevelDomain

@{
    ViewBag.Title = "New TLD";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New TLD</h1>
</div>

<form asp-controller="TopLevelDomain" asp-action="New">
    <partial name="TLDForm"/>
</form>