@model List<DnsWebApp.Models.Database.Domain>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Top Level Domains";
    ViewBag.Active = "TopLevelDomain";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Domains under .@ViewData["TLD"]</h1>
</div>
<partial name="DomainList"/>
