@model DnsWebApp.Models.ZoneGroupCommand
@{
    ViewBag.Title = "Editing Zone Group";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing zone group @Model.Name</h1>
</div>

<form asp-controller="ZoneGroup" asp-action="EditZoneGroup">
    <partial name="ZoneGroupForm"/>
</form>