@model DnsWebApp.Models.ViewModels.ZoneCommand
@{
    ViewBag.Title = "Edit Zone";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing zone @(Model.Name)</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("ShowZone", "Zone", new {zone = Model.Id})" class="btn btn-sm btn-outline-secondary">
            <i class="fas fa-cube"></i>&nbsp;Zone Records
        </a>
    </div>
</div>

<form asp-controller="Zone" asp-action="EditZone">
    <div class="row">
        <fieldset class="col-md-6">
            <partial name="ZoneSettingsForm"/>
        </fieldset>

        <fieldset class="col-md-6">
            <partial name="SoaSettingsForm"/>
        </fieldset>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save settings</button>
        </div>
    </div>
</form>