@model List<DnsWebApp.Models.ZoneSummary>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Zones";
    ViewBag.Active = "Zone";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">All zones</h1>
</div>

<partial name="ZoneList"/>