@model DnsWebApp.Models.ViewModels.ZoneCommand

<legend>Start of Authority (SOA) record</legend>

<div class="form-group">
    <label asp-for="PrimaryNameServer"></label>
    <input asp-for="PrimaryNameServer" class="form-control"/>
</div>

<div class="form-group">
    <label asp-for="Administrator"></label>
    <input asp-for="Administrator" class="form-control"/>
</div>

<div class="row">
    <div class="form-group col-lg-6">
        <label asp-for="Refresh"></label>
        <input asp-for="Refresh" class="form-control"/>
        <small class="form-text text-muted">Number of seconds after which secondary nameservers will request an update.</small>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="Retry"></label>
        <input asp-for="Retry" class="form-control"/>
        <small class="form-text text-muted">Number of seconds after which secondary nameservers will retry a refresh.</small>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="Expire"></label>
        <input asp-for="Expire" class="form-control"/>
        <small class="form-text text-muted">How long secondary nameservers will answer requests for.</small>
    </div>
    <div class="form-group col-lg-6">
        <label asp-for="TimeToLive"></label>
        <input asp-for="TimeToLive" class="form-control"/>
        <small class="form-text text-muted">How long to cache negative responses</small>
    </div>
</div>
