@model DnsWebApp.Models.Dns.MxRecordViewModel

@{
    ViewBag.Title = "Editing record";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing @Model.Type record</h1>
    <partial name="DeleteRecordButton"/>
</div>

<form asp-action="EditMxRecord">
    <partial name="RecordComponents"/>
    <input asp-for="Type" type="hidden" />
    
    <partial name="MxEditForm"/>
</form>