@model DnsWebApp.Models.Dns.TxtRecordViewModel

<partial name="NameTtlEditControl" />

<div class="form-group">
    <label asp-for="Value"></label>
    <input asp-for="Value" class="form-control"/>
    <span asp-validation-for="Value" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save</button>
