@model DnsWebApp.Models.ViewModels.DomainCommand


<div class="row">
    <div class="col-6">
        <fieldset>
            <legend>Domain metadata</legend>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label asp-for="Registrar"></label>
                    <select asp-for="Registrar" asp-items="Model.Registrars" class="form-control">
                        <option value="">(none)</option>
                    </select>
                    <span asp-validation-for="Registrar" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-12">
                    <label asp-for="Owner"></label>
                    <select asp-for="Owner" asp-items="Model.Owners" class="form-control">
                        <option value="">(none)</option>
                    </select>
                    <span asp-validation-for="Owner" class="text-danger"></span>
                    <small class="form-text text-muted">The user to whom the domain belongs.</small>
                </div>

                <div class="form-group col-lg-12">
                    <label asp-for="RegistrationExpiry"></label>
                    <input asp-for="RegistrationExpiry" class="form-control"/>
                    <span asp-validation-for="RegistrationExpiry" class="text-danger"></span>
                    <small class="form-text text-muted">The date the domain registration expires with the registrar.</small>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="col-6">
        <fieldset>
            <legend>Domain settings</legend>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" asp-for="Placeholder"/>
                    <label class="custom-control-label" asp-for="Placeholder"></label>
                    <small class="form-text text-muted">Marks this domain as a placeholder for untracked zones</small>
                </div>
            </div>
        </fieldset>
    </div>
</div>
    
<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;Save settings</button>
    </div>
</div>