@model List<DnsWebApp.Models.Database.Zone>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Zones";
    ViewBag.Active = "Zone";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">All zones</h1>
    
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("NewZone", "Zone")" class="btn btn-sm btn-outline-success">
            <i class="fas fa-plus"></i>&nbsp;New zone
        </a>
    </div>
</div>

<partial name="ZoneList"/>