@model DnsWebApp.Models.ViewModels.ZoneCommand

<legend>Zone settings</legend>

<div class="form-group">
    <div class="custom-control custom-switch">
        <input class="custom-control-input" asp-for="Enabled"/>
        <label class="custom-control-label" asp-for="Enabled"></label>
        <small class="form-text text-muted">Enables or disables this zone in the DNS server. Disabling the zone will mean this zone is not served!</small>
    </div>
</div>

<div class="form-group">
    <label asp-for="HorizonView"></label>
    <select asp-for="HorizonView" asp-items="Model.HorizonViews" class="form-control">
        <option value="">(none)</option>
    </select>
    <span asp-validation-for="HorizonView" class="text-danger"></span>
    <small class="form-text text-muted">The view in which this zone sits in a split-horizon configuration</small>
</div>


<div class="row">
    <div class="form-group col-lg-6">
        <label asp-for="Registrar"></label>
        <select asp-for="Registrar" asp-items="Model.Registrars" class="form-control">
            <option value="">(none)</option>
        </select>
        <span asp-validation-for="Registrar" class="text-danger"></span>
    </div>

    <div class="form-group col-lg-6">
        <label asp-for="Owner"></label>
        <select asp-for="Owner" asp-items="Model.Owners" class="form-control">
            <option value="">(none)</option>
        </select>
        <span asp-validation-for="Owner" class="text-danger"></span>
        <small class="form-text text-muted">The user to whom the domain belongs.</small>
    </div>
</div>

<div class="form-group">
    <label asp-for="RegistrationExpiry"></label>
    <input asp-for="RegistrationExpiry" class="form-control"/>
    <span asp-validation-for="RegistrationExpiry" class="text-danger"></span>
    <small class="form-text text-muted">The date the domain registration expires with the registrar.</small>
</div>


<div class="form-group">
    <label asp-for="DefaultTimeToLive"></label>
    <input asp-for="DefaultTimeToLive" class="form-control"/>
    <span asp-validation-for="DefaultTimeToLive" class="text-danger"></span>
    <small class="form-text text-muted">The default TTL to apply to all records in this zone without a TTL defined</small>
</div>