@model Dictionary<string, DnsWebApp.Models.GroupedZoneSummary>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Owners";
    ViewBag.Active = "Owner";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Owners</h1>
</div>

<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
    @foreach (var reg in Model)
    {
        <div class="col mb-4">
            <partial name="GroupedZoneSummary" model="@reg.Value"/>
        </div>
    }
</div>