@model DnsWebApp.Models.Database.Currency

@{
    ViewBag.Title = "Delete Currency";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Deleting currency @Model.Name</h1>
</div>


<p class="lead text-danger">You are about to delete the currency <code>@Model.Name</code></p>

<p>Are you sure you want to do this?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <button class="btn btn-danger" type="submit">Yes, delete this currency</button>
</form>