@model DnsWebApp.Models.ChangePasswordCommand
@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "Change Password";
}

@section HeadContent {
    <link href="~/css/login.css" rel="stylesheet">
}

<body class="text-center">
    <form class="form-signin" asp-controller="Authentication" asp-action="ChangePassword">
        <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
        @Html.ValidationSummary(true, "Please fix the following issues, and try again:", new{ @class = "alert alert-danger", role = "alert"}, "div")
        <label asp-for="OldPassword" class="sr-only"></label>
        <input asp-for="OldPassword" id="inputOldPassword" class="form-control" placeholder="Current password" autofocus/>
        <label asp-for="NewPassword" class="sr-only"></label>
        <input asp-for="NewPassword" id="inputNewPassword" class="form-control" placeholder="New password"/>
        <label asp-for="ConfirmPassword" class="sr-only"></label>
        <input asp-for="ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm new password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
    </form>
</body>